{% extends 'base.html' %}
{% block title %}Register{% endblock %}

{% block content %}
<h1>Register a new user</h1>
<form action="/register" id="submit-form" method="post">
    <input type="text" placeholder="Username" name="username" id="username">
    <input type="password" placeholder="Password" name="password" id="password">
    <input type="text" placeholder="First Name" name="first_name" id="first_name">
    <input type="text" placeholder="Last Name" name="last_name" id="last_name">
    <input type="text" placeholder="phone" name="phone" id="phone">
    <input type="submit" value="Submit">
</form>
{% endblock %}